.section2{
    .background2{
        border-radius: 25px;
        filter: brightness(0.5);
        width: 100%;
    }
}

@media (max-width: 400px) {
    .section2{
        .background2{
            height: 223px;
            object-fit: cover;
        }
        margin: 0px 25px 30px;
    }
}