.section1{
    position: relative;
    display: flex;
    .background1{
        border-radius: 25px;
        filter: brightness(0.5);
        width: 100%;
        max-height: 223px;
    }
    .title{
        width: 100%;
        margin: 0px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 142.6%;
        position: absolute;
        color: #FFFFFF;
    }
}
@media (max-width: 400px) {
    .section1{
        margin: 15px;
        height: 111px;
        .title{
            font-size: 24px;
            text-align: start;
            margin: 10px;
            top:10px;
            white-space: pre-line;
        }
        .title2{
            position: absolute;
            top:30px;
            margin: 10px;
            color:#FFFFFF;
            font-size: 24px;
        }
    }
}