.btn-collapse{
    position: relative;
    background: #FF6060;
    border-radius: 5px;
    color: #FFFFFF;
    max-width: 1023px;
    height: 34px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.arrow {
    position: absolute;
    right: 15px;
    width: 15px;
}

.arrow_up {
    transform: rotate(-180deg);
}
.content {
    li{
        list-style-type: none;
        text-align: left;
        line-height: 143%;
    }
}
    
.content-parent {
    margin: auto;
    height: 0px;
    max-width: 995px;
    overflow: hidden;
    transition: height cubic-bezier(.12,.51,.41,.85) 0.6s, opacity cubic-bezier(.12,.55,.9,.4) 0.2s;
    padding: 15px;
    margin-top: -15px;
    opacity: 0;
}
    
.content-show {
    margin: auto;
    max-width: 995px;
    height: 100px;
    transition: height cubic-bezier(.12,.51,.41,.85) 0.6s;
    overflow: hidden;
    background: #F7F7F7;
    padding: 15px;
    margin-top: -15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media (max-width: 415px) {
    .Collapse{
        margin: 0px 20px;
        .btn-collapse{
            font-size: 13px;
            justify-content: start;
            padding: 0px 10px;
        }
        .content-show {
            height: 20vh;
            font-size: 12px;
        }
        .content-parent{
            padding: 5px;
            margin-bottom: 5px;
            font-size: 12px;
        }
    }
    
}