.Banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0px;
    .Navbar{
        width: 200px;
        display: flex;
        justify-content: space-around;
    }
    .sizing-img{
        width: 150px;
    }
}
@media (max-width: 415px) {
    .Banner{
        margin: 25px;
        .Navbar{
            width:150px;
            font-size: 12px;
        }
        a{
            font-size: 12px;
        }
        .sizing-img{
            width: 125px;
        }
    }
}