.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px
}
.Navbar{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.sizing-img{
    width: 100px;
}