.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0px;
}
.Navbar{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.sizing-img{
    width: 150px;
}