.box-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    .box-lodging-about{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 5px;
        .title-lodging{
            padding: 0px;
            margin: 0px;
            font-weight: 500;
            font-size: 24px;
            line-height: 142.6%;
        }
        .location-lodging{
            padding: 0px;
            margin: 0px;
            font-weight: 500;
            font-size: 16px;
            line-height: 142.6%;
        }
    }
    .box-profil-about{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        
    }
}
.collapse-box{
    display:flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
    .collapse-lodging{
        flex-basis: 49%;
    }
    
}

.tags{
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
    .tag{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        min-width: 115px;
        padding: 4px 10px;
        background: #FF6060;
        border-radius: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 142.6%;
        /* identical to box height, or 20px */
        text-align: center;
        color: #FFFF
    }
}